body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    overflow-x: hidden;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

header .logo img {
    height: 5rem;
}

.topnav {
    background-color: ivory;
    overflow: hidden;
}
.topnav a {
    float: right;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    font-style: italic;
    font-size: 17px;
}

.topnav a:hover {
    background-color: bisque;
    color: black;
  }
  
  .topnav a.active {
    background-color: #009900;
    color: white;
  }
  
  
  
  